<div class="container">
    <h2>Lista de Automóviles</h2>
    <table>
      <thead>
        <tr>
          <th>CODIGO</th>
          <th>MARCA</th>
          <th>MODELO</th>
          <th>AÑO</th>
          <th>KM</th>
          <th>PRECIO</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A001</td>
          <td>CHEVROLET</td>
          <td>SPARK</td>
          <td>2023</td>
          <td>120</td>
          <td>$13,000</td>
        </tr>
        <tr>
          <td>A002</td>
          <td>CHEVROLET</td>
          <td>LUV DMX</td>
          <td>2024</td>
          <td>0</td>
          <td>$33,000</td>
        </tr>
        <tr>
          <td>A003</td>
          <td>CHEVROLET</td>
          <td>CAVALIER</td>
          <td>2024</td>
          <td>0</td>
          <td>$21,000</td>
        </tr>
        <tr>
          <td>A004</td>
          <td>CHEVROLET</td>
          <td>AVEO</td>
          <td>2023</td>
          <td>14.022</td>
          <td>$16,000</td>
        </tr>
        <tr>
          <td>A005</td>
          <td>CHEVROLET</td>
          <td>CAMARO</td>
          <td>2023</td>
          <td>12.733</td>
          <td>$60,000</td>
        </tr>
        <tr>
          <td>A006</td>
          <td>CHEVROLET</td>
          <td>CAPTIVA</td>
          <td>2024</td>
          <td>0</td>
          <td>$27,000</td>
        </tr>
        <tr>
          <td>A007</td>
          <td>CHEVROLET</td>
          <td>CRUZE</td>
          <td>2020</td>
          <td>12.023</td>
          <td>$19,500</td>
        </tr>
        <tr>
          <td>A008</td>
          <td>CHEVROLET</td>
          <td>TRAKER</td>
          <td>2024</td>
          <td>0</td>
          <td>$27,990</td>
        </tr>
        <tr>
          <td>A009</td>
          <td>CHEVROLET</td>
          <td>SPARK-GT</td>
          <td>2023</td>
          <td>1.230</td>
          <td>$17,500</td>
        </tr>
        <tr>
          <td>A010</td>
          <td>CHEVROLET</td>
          <td>CORSA</td>
          <td>2006</td>
          <td>167.000</td>
          <td>$7,000</td>
        </tr>
      </tbody>
    </table>
  </div>
  